---
layout: site-default
---

<div class="container-fluid container-xxl py-5">
	<div class="blog-post main-content" id="main-content">

		<div class="post-content">
			<div class="post-meta">
				<div class="date">
					<time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%S%z' }}">{{ page.date | date_to_long_string }}</time>
				</div>
				{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
					<span itemprop="name">{{ page.author }}</span></span>{% endif %}
			</div>
			<h2 class="title">{{page.title}}</h2>
			<div class="the-post">
				{{ content }}
			</div>
		</div>

	</div>
</div>