<form action="https://formspree.io/meqrnkzl" method="POST">
	<div class="field-set">
		<div class="field-group"></div>
		<label for="name">Name</label>
		<input class="form-control mb-2"
				id="name"
				type="text"
				name="name"
				required="required"
				title="Name" />
		<div class="field-group">
			<label for="telephone">Telephone (optional)</label>
			<input class="form-control mb-2"
					id="telephone"
					type="text"
					name="telephone"
					title="Telephone" />
		</div>
		<div class="field-group">
			<label for="email">Email</label>
			<input class="form-control mb-2"
					id="email"
					type="text"
					name="email"
					title="Email" />
		</div>
		<div class="field-group">
			<label for="user_message">How can we help you?</label>
			<textarea class="form-control mb-3"
						id="user_message"
						name="user_message"
						title="Message"
						required="required"
						rows="7"></textarea>
		</div>
	</div>
	<button class="btn btn-orange btn-lg btn-rounded text-white" type="submit">Send</button>
</form>